<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="mainDiv">
        <div class="secondDiv">
            <div class="spod"></div>
            <div class="blocks"></div>
            <div class="PADORUU"></div>
        </div>
        <div class="menu">
            <div class="gameStart">
                <div class="but" id="gamePlay"><button onclick="gamePlay()">Play</button></div>
                <div class="but" id="gameSolo"><button onclick="gameSolo()">Solo</button></div>
                <div class="but" id="gameCreator"><button onclick="gameCreator()">Creator</button></div>
            </div>
        </div>
        <div class="scoreboard">
            <div id="scoreUp">
                <p id="scoreUpP">0</p>
            </div>
            <div id="scoreDown">
                <p id="scoreDownP">0</p>
            </div>
        </div>
    </div>
    <script src="js/hello.js"></script>
</body>
</html>